<ion-view>
  <ion-pane>
    <ion-content class="intro-wrap">
      <header>
        <h1>CashMate</h1>
      </header>
      <div class="icon-teaser">
        <img src="img/label.png">
      </div>
      <h3>Get a discount</h3>
      <p class="text-teaser">
        The money you earn can be exchanged for a discount in restaurants, shops and many more!
      </p>
      <div class="button-group">
        <button class="button button-piotra-none pull-left">
          Skip
        </button>
        <button class="button button-piotra-none pull-right">
          Proceed
        </button>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>
