<ion-view>
  <ion-pane>
    <ion-content class="activity-wrap">
      <div ng-if="step==0">
      <header>
        <h2>Earn points - watch a video</h2>
      </header>
      <iframe class="ad-frame" ng-src="{{ ad.videoUrl }}" frameborder="0" allowfullscreen></iframe>
      <h5>Hint</h5>
      <p>Watch the video above carefully before proceeding, in a next step you'll be asked a few questions about it.</p>
      </div>
      <div ng-if="step==1">
        <header>
          <h2>Answer a question</h2>
        </header>
        <h1>{{ad.question.content}}</h1>
        <ul>
          <li ng-repeat="answer in ad.question.answers">
            <input type="checkbox"> {{answer.content}}
          </li>
        </ul>
      </div>
      <div class="button-group fixed-bottom">
        <button class="button button-piotra-salamona" ng-hide="last" ng-click="skip();">
          Cancel
        </button>
        <button class="button button-success" ng-click="nextStep();">
          Proceed
        </button>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>
