<ion-view>
  <ion-pane>
    <ion-content class="activity-wrap">
      <header>
        <h2>Purchase</h2>
      </header>
      <div id="dashboard-balance">
        <h3>Confirmation code</h3>
        <h1 class="points">{{transactionCode}}</h1>
      </div>
      <div class="hint margin-lg">
        <h5>Hint</h5>
        <hr style="border: 1px solid rgba(0,0,0,0.5);">
        <p>Show this code to the shop assistant and wait for confirmation.</p>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>
