<ion-view>
  <ion-pane>
    <ion-content class="activity-wrap">
      <header>
        <h2>CashMate Coupon</h2>
      </header>
      <article class="coupon coupon-item">
        <img ng-src="{{ coupon.imageUrl }}">
        <div class="flex-row">
          <div class="flex-item-grow">
            <h4>{{coupon.title}}</h4>
            <h5>{{coupon.vendor}}, {{coupon.location}}</h5>
            <h4>Price: {{coupon.points}} P</h4>
          </div>
          <div class="flex-item-nogrow">
            <button class="button button-piotra-salamona" ng-click="useCode()">Use it!</button>
          </div>
        </div>
      </article>
    </ion-content>
  </ion-pane>
</ion-view>
