<ion-view>
  <ion-pane>
    <ion-content id="dashboard-background">
      <header>
        <h2>Cashmate Accounts</h2>
        <div id="dashboard-balance">
          {{ JSON.stringify(points) }}
          <h3>Your balance</h3>
          <h1 class="points">{{ points }} P</h1>

        </div>
      </header>
      <button class="button-rounded button-piotra-salamona" id="add-points" ng-click="watchAd();">
        <img src="img/watch.png">
      </button>
    </ion-content>
  </ion-pane>
</ion-view>
