<ion-view>
  <ion-pane>
    <ion-content id="dashboard-background">
      <header>
        <h2>Cashmate Accounts</h2>
        <div id="dashboard-balance">
          {{ JSON.stringify(points) }}
          <h3>Your balance</h3>
          <h1 class="points">{{ points }} P</h1>

        </div>
      </header>
      <section class="coupon-wrap">
        <div ng-repeat="coupon in coupons" class="coupon">
          <img ng-src="{{ coupon.imageUrl }}">
          <div class="coupon-label">
            <h5>{{coupon.title}}</h5>
            <h6>{{coupon.vendor}}, {{coupon.location}}</h6>
          </div>
        </div>
      </section>
    </ion-content>
    <button class="button-rounded button-piotra-salamona" id="add-points" ng-click="watchAd();">
      <img src="img/watch.png">
    </button>
  </ion-pane>
</ion-view>

