<ion-view>
  <ion-pane>
    <ion-content id="splash-wrap">
      <header>
        <h1>CashMate</h1>
      </header>

      <form action="#">
        <label class="item item-input label-wrap">
          <span class="input-label" >Username</span>
          <input type="text" ng-model="data.username">
        </label>

        <label class="item item-input label-wrap">
          <span class="input-label" >Email address</span>
          <input type="email" ng-model="data.email">
        </label>

        <label class="item item-input label-wrap">
          <span class="input-label" >Password</span>
          <input type="password" ng-model="data.password">
        </label>

        <label class="item item-input label-wrap">
          <span class="input-label" >Retype password</span>
          <input type="password" ng-model="data.password1">
        </label>

        <button class="button wszystkie-buttony button-piotra-salamona" ng-click="register()">Register me</button>
        <button class="button wszystkie-buttony button-piotra-none" ng-click="go_to_login_page()">Go back</button>
      </form>

    </ion-content>
  </ion-pane>
</ion-view>
