/* Empty. Add your own CSS if you like */
header {
  display: block;
}

header h1 {
  font-family: Cabin;
  font-size: 48px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin-top: 40px !important;
  display: block;
}

h1.points {
  font-family: "Roboto";
  font-size: 80px;
  font-weight: normal;
  display: block;
  line-height: 40px;
  text-align: left;
  color: #fff;
}

h1.question {
  font-size: 26px;
  color: white;
  font-weight: 100;
  padding-top: 20px;
}

header h2 {
  font-size: 20px;
  color: #fff;
}

header h3 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
}

body, body .pane {
  background-color: #20A0C1 !important;
}

body {
  background-color: #20A0C1;
  font-size: 14px;
}

#splash-wrap {
  display: block;
  padding: 30px;
}

#logo {
  display: block;
  margin: 30px auto;
  width: 128px;
  height: 128px;
}

#logo img {
  width: 128px;
  height: 128px;
}

.label-wrap {
  margin: 10px 0 !important;
}

.button {
  margin: 5px 0 !important;
  text-transform: uppercase;
}

.button-piotra-salamona {
  background-color: #FF7E60 !important;
  width: 100%;
  color: #FFF !important;
}

.button-piotra-none {
  background-color: #18778F !important;
  width: 100%;
  color: #FFF !important;
}

.button-success {
  background-color: #0F9D58 !important;
  width: 100%;
  color: #FFF !important;
}

.intro-wrap {
  text-align: center;
  padding: 30px;
}

.intro-wrap h3 {
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
}

.text-teaser {
  color: rgba(255, 255, 255, 0.87);
}

#dashboard-background {
  background: url("../img/bg.png") no-repeat;
  background-size: 100% 100%;
  padding: 30px;
}

.button-group {
  display: flex;
  flex-direction: row;
}
.button-group .button {
  flex: 0 1 auto;
}

.fixed-bottom {
  position: fixed !important;
  bottom: 50px !important;
  left: 0;
  right: 0;
}

.button-rounded {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border: 0;
}
.button-rounded img {
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
}

#add-points {
  position: fixed;
  bottom: 3%;
  right: 3%;
}

.activity-wrap {
  padding: 30px !important;
  background: url("../img/bg.png") no-repeat;
  background-size: 100% 100%;
}

.coupon-wrap {
  margin-top: 40px;
}

.coupon {
  display: block;
  margin: 10px 0;
  background: #fff;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
  padding: 10px;
}

.coupon img {
  display: block;
  margin: 0 auto;
  max-height: 150px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-item-grow {
  flex: 1 0 auto;
}

.flex-item-nogrow {
  flex: 0 0 auto;
}

.ad-frame {
  display: block;
  width: 100%;
  height: 50%;
  padding-top: 20px;
}

.answer-wrap {
  display: block;
  margin-top: 140px;
}

.answer {
  margin: 3px 0;
  font-size: 14pt;
}

.answer input {
  width: 20px;
  height: 20px;
}

.answer * {
  display: inline-block;
}

.hint {
  margin-top: 40px;
}

.hint h5 {
  text-transform: uppercase;
}

