/* Empty. Add your own CSS if you like */
header {
  display: block;
}

header h1 {
  font-family: Cabin;
  font-size: 48px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin-top: 60px !important;
  display: block;
}

body, body .pane {
  background-color: #20A0C1 !important;
}

body {
  background-color: #20A0C1;
}

#splash-wrap {
  display: block;
  padding: 30px;
}

#logo {
  display: block;
  margin: 30px auto;
  width: 128px;
  height: 128px;
}

#logo img {
  width: 128px;
  height: 128px;
}

.label-wrap {
  margin: 10px 0 !important;
}

.button {
  margin: 5px 0 !important;
  text-transform: uppercase;
}

.button-piotra-salamona {
  background-color: #FF7E60 !important;
  width: 100%;
  color: #FFF !important;
}

.button-piotra-none {
  background-color: #18778F !important;
  width: 100%;
  color: #FFF !important;
}

.intro-wrap {
  text-align: center;
  padding: 30px;
}

.intro-wrap h3 {
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
}

.text-teaser {
  color: rgba(255, 255, 255, 0.87);
}

#dashboard-background {
  background: url("../img/bg.png") no-repeat;
  background-size: 100% 100%;

}

.button-group {
  display: flex;
  flex-direction: row;
}
.button-group .button {
  flex: 0 1 auto;
}

.fixed-bottom {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
}

.button-rounded {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border: 0;
}
.button-rounded img {
  display: block;
  width: 36px;
  height: 36px;
  margin: auto;
}

#add-points {
  position: absolute;
  top: 21.3%;
  right: 10%;
}
